* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* All buttons */
.btn {
  font-size: 20px;
  font-weight: 600;
  height: 64px;
  border-radius: 5px;
  border: none;
  padding: 20px 25px;
}

.btn-primary {
  background: #F15B22;
  color: #FFFFFF;
}

/* Header styles */
.header {
  background-image: url('../images/banner/banner1.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  padding: 200px 180px 0 0;
}

.top-banner {
  text-align: right;
}

.banner-title {
  font-size: 65px;
  font-weight: 700;
  color: #151414;
}

.banner-description {
  margin-top: 24px;
  font-size: 16px;
  color: #444343;
  margin-bottom: 32px;
}

/* Main section styles */
section {
  margin-top: 130px;
}

/* Failures-year styles */
.failures-container {
  display: flex;
  padding: 0 200px;
}

.profile-pic img {
  width: 400px;
}

.failure-content {
  margin-left: 95px;
  margin-top: 140px;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  color: #151414;
}

.section-description {
  margin-top: 20px;
}

.list-items {
  margin-top: 10px;
  margin-left: 15px;
}

.item {
  padding: 7px 15px;
}